/* src/assets/styles/global.css */
@import '@mantine/core/styles.css';
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f8f9fa;
  }
  
  a {
    color: #1a1a1a;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  [data-mantine-color-scheme="dark"] {
    --mantine-color-body: #1a1b1e;
  }
  
  [data-mantine-color-scheme="light"] {
    --mantine-color-body: #ffffff;
  }